.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 3rem;
    background-color: aqua;
}
.details{
    width: 40rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
input{
    background-color: rgb(168, 134, 201);
    border: none;
    border-radius: 10px;
}