@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
html,button{
    font-family: "quicksand","sand-serif";
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}