<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="product.name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input
            class="form-control"
            id="quantity"
            required
            [(ngModel)]="product.quantity"
            name="quantity"
          />
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input
              class="form-control"
              id="price"
              required
              [(ngModel)]="product.price"
              name="price"
            />
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <input
              class="form-control"
              id="image"
              required
              [(ngModel)]="product.image"
              name="image"
            />
          </div>
  
        <button (click)="saveProduct()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Product was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newProduct()">Add</button>
      </div>
    </div>
  </div>
