<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <form #productFrom="ngForm" (ngSubmit)="createProduct(productFrom)">
        <input type="hidden" class="form-control mt-2" name="_id" #_id="ngModel" [(ngModel)]="productservice.selectedProduct._id" placeholder="_id">
        <input type="text" class="form-control mt-2" name="name" #name="ngModel" [(ngModel)]="productservice.selectedProduct.name" placeholder="name">
        <input type="price" class="form-control mt-2" name="price" #price="ngModel" [(ngModel)]="productservice.selectedProduct.price" placeholder="price">
        <input type="quantity" class="form-control mt-2" name="quantity" #quantity="ngModel" [(ngModel)]="productservice.selectedProduct.quantity" placeholder="quantity">
        <input type="image" class="form-control mt-2" name="image" #image="ngModel" [(ngModel)]="productservice.selectedProduct.image" placeholder="image">
        <button type="submit" class="btn btn-block btn-primary mt-2">Save</button>
      </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Image</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <tr *ngFor="let product of productservice.products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.image}}</td>
            <td>
              <button (click)="editProduct(product)" class="btn btn-sm btn-primary">Edit</button>
            </td>
            <td>
              <button (click)="deleteProduct(product._id)" class="btn btn-sm btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

